.mat-h6, .mat-headline, .mat-typography h6 {
    font-size: 24px;
    font-weight: 400;
}

.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
}

.mat-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}