.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
}

.mat-form-field {
    padding: 5px;
}

.mat-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}