.float-right {
    float: right;
}

mat-card {
    padding: 20px;
}

table {
    width: 100%;
}

/*::ng-deep: apply styles to child components and elements that are encapsulated by the parent component
-> overwrite the default style behaviour of Angular*/
::ng-deep .hightlight{
    color: white;
    background: #673AB7;
}